/* 
Reglas de Estilo:

selector { 
  propiedad1: valor;
  propiedad2: valor;
  propiedad3: valor;
}

*/

div {
  background-color: rgb(196, 190, 197);
}

h3 {
  background-color: coral;
}

div p {
  font-size: 10px;
}

p > span {
  color: yellow;
}

h2:hover {
  color: blue;
}

span:hover {
  background-color: darkmagenta;
}

/* Clases */
.borde {
  border: 0.1em dashed blueviolet;
}

/* ID */
#mi-elemento {
  padding: 50px;
}
